<h3>Welcome to Private Events!</h3>

<h4>Tips</h4>
<p>See a list of all events by clicking Events tab</p>
<p>You can make new events by clicking New event tab</p>
<p>Click My events tab to view all of your events,including that you are hosting, your past and incoming events</p>
<p>View a singular event by clicking on any event . You can invite other users by selecting a user from the dropdown menu and clicking the invite button</p>